<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.furestic.alldocument.office.ppt.lxs.docx.pdf.viwer.reader.free">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sp_mid"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.activities.ActivityPrivacyPolicy">

        </activity>
        <activity android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.activities.ActivityLanguage" />
        <activity android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.activities.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.activities.ActivityIntroSLides">

        </activity>
        <activity android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.activities.ActivityPdfViewer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.activities.ActivityFilesHolder" />
        <activity android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.activities.MainActivity" />
        <activity
            android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.officereader.SysActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TitleBar">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".FileListActivity" />
        </activity>
        <activity
            android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.officereader.FileListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/sys_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.officereader.AppActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/sys_name"
            android:theme="@style/AppTheme.TitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <!--
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                -->

                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.furestic.office.ppt.lxs.docx.pdf.viwer.reader.free.officereader.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/sys_name"
            android:theme="@style/AppTheme.TitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_Id" />
    </application>

</manifest>